<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Student Details Mgmt System</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->
		<a class="navbar-brand" href="#">Student Management System</a>

		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/employees}">Student Details Management</a>
				</li>
			</ul>
		</div>
	</nav>
	<br>
	<br <div class="container">
	<div class="row">
		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
			<hr>
			<a th:href="@{/greet/validated}"
				class="btn btn-primary btn-sm mb-3">
				Go Back to Student Data Management Page
			</a>
			<h1 class="text-center"> Enter/Update Student Details </h1>
			<div class="card-body">

				
				<form action="#" th:action="@{/studentDetails/saveStudentDetails}" th:object = "${studentDetail}" method="POST">
					
					<div class ="form-group">
						<label> Student Id </label>
						<input type="hidden"  th:field="*{id}" class="form-control"
							placeholder="id" />
					</div>
					
					<div class ="form-group">
						<label> Student First Name </label>
						<input type="text" name="studentfName" th:field="*{studentfName}" class="form-control"
							placeholder="Enter First Name" />
					</div>

					<div class="form-group">
						<label> Student Last Name </label>
						<input type="text" name="studentlName" th:field="*{studentlName}" class="form-control"
							placeholder="Enter Last Name" />
					</div>

					<div class="form-group">
						<label> Grade </label>
						<input type="text" name="grade" th:field="*{grade}" class="form-control"
							placeholder="Enter Grade" />
					</div>
					
					<div class="form-group">
						<label> Section </label>
						<input type="text" name="section" th:field="*{section}" class="form-control"
							placeholder="Enter Section" />
					</div>
					
					<div class="form-group">
						<label> Class Teacher </label>
						<input type="text" name="classTeacher" th:field="*{classTeacher}" class="form-control"
							placeholder="Enter Class Teacher" />
					</div>
					
					<div class="form-group">
						<label> Subjects </label>
						<input type="text" name="subjects" th:field="*{subjects}" class="form-control"
							placeholder="Subject1,Subject2,Subject3" />
					
					</div>
					
					<div class="form-group">
						<label> Max Score </label>
						<input type="text" name="maxScore" th:field="*{maxScore}" class="form-control"
							placeholder="Enter Max Score" />
					</div>
					
					<div class="form-group">
						<label> Total SCore </label>
						<input type="text" name="totalScore" th:field="*{totalScore}" class="form-control"
							placeholder="Enter Total Score" />
					</div>

					<div class="box-footer">
						<button type="submit" class="btn btn-primary">
							Submit
						</button>
					</div>
				</form>

				<hr>

				<a th:href="@{/}"> Back to Student Details List</a>

			</div>
		</div>
	</div>
	</div>
</body>
</html>