<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Student Details List </title>
</head>

<body>

<div class="container">

	<h3>Student Academic Details - List</h3>
	<hr>
	
	<!-- Add a button -->
	<a th:href="@{/employees/showFormForAdd}"
		class="btn btn-primary btn-sm mb-3">
		Add Student Detail
	</a>
	
	
	<table class="table table-bordered table-striped">
		<thead class="thead-dark">
			<tr>
				<th>Student First Name</th>
				<th>Student Last Name</th>
				<th>Grade</th>
				<th>Section</th>
				<th>Class Teacher</th>
				<th>Subjects</th>
				<th>Max Score</th>
				<th>Total Score</th>				
				<th>Action</th>
			</tr>
		</thead>
		
		
			<tr th:each="studentDetail:${studentDetails}">
			
				<td th:text="${studentDetail.studentfName}" />	
				<td th:text="${studentDetail.studentlName}" />	
				<td th:text="${studentDetail.grade}" />
				<td th:text="${studentDetail.section}" />	
				<td th:text="${studentDetail.classTeacher}" />	
				<td>
					<ul th:each="subj:${studentDetail.subjects}">
						<li th:text="${subj}"/>
					</ul> 
				</td>	
				
				
					
				
				<td th:text="${studentDetail.maxScore}" />	
				<td th:text="${studentDetail.totalScore}" />	
		
				
				<td>
				<div class="row">
				
					<div class="col-small">
					<!-- Add "update" button/link -->
					<form action="#" th:action="@{/studentDetails/showFormForUpdate}" method="POST">
					
						<input type="hidden" name="studId" th:value="${studentDetail.id}" />						
						<button type="submit" class="btn btn-info btn-sm ml-3 mr-1">Update</button>

					</form>
					</div>
					
					<div class="col-small">
					<!-- Add "delete" button/link -->					
					<form action="#" th:action="@{/studentDetails/delete}" method="POST">
					
						<input type="hidden" name="studId" th:value="${studentDetail.id}" />						
						<button type="submit" class="btn btn-danger btn-sm"
								onclick="if (!(confirm('Are you sure you want to delete this Student Academic Detail?'))) return false">
								Delete
						</button>

					</form>
					</div>
				</div>	
				</td>
				
				
			</tr>
		</tbody>		
	</table>
	
</div>
	
</body>
</html>